<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>管理会员</title>
    <link rel="stylesheet" type="" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <section class="main-cantainer bl-bg">
        <div class="sl-btn-list">
            <a class="wt-btn" href="member-role-list.html" th:href="@{member/type}"><span><img src="../../css/img/create_role.png" th:src="@{/css/img/create_role.png}" alt=""></span>管理会员角色</a>
            <a class="wt-btn" href="person-member-list.html" th:href="@{member/person}"><span><img src="../../css/img/organize_member_information.png" th:src="@{/css/img/organize_member_information.png}" alt=""></span>个人会员信息</a>
            <a class="wt-btn" href="organize-member-list.html" th:href="@{member/unit}"><span><img src="../../css/img/organize_member_information.png" th:src="@{/css/img/organize_member_information.png}" alt=""></span>组织会员信息</a>
        </div>
        
    </section>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
</body>

</html>