<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>导入个人会员</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../css/progressbar.css" th:href="@{/css/progressbar.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer">
        <form id="excel_form" action="#" th:action="@{/material/upload}" method="post" enctype="multipart/form-data">
            <div class="form-group inlineFileUpload ht-t1">
                <label for="userName" class="floatl">上传:</label>
                <input type="file" class='form-input floatr' id="excel_upload" name="file"/>
                <input type="hidden" name="meetHallId" id="meetHallId" th:value="${hallId}">
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                <span class='floatr form-text' id="fileText">请上传</span>
            </div>
            <div class="form-group">
                <label for="userName" class="floatl">模版下载:</label>
                <a href="" th:href="@{${personalUpload}}">
                	<span class='floatr form-text'>点击下载模板</span>
                </a>
            </div>
            <div class='btn-box'>
                <button type="button" id="excel_btn" class="form-btn cancel-btn">上传</button>
            </div>
        </form>
    </section>
    <div th:replace="~{layout/contextPath :: contextPath}"></div>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/member/person-member-upload.js" th:src="@{/js/member/person-member-upload.js}"></script>
</body>

</html>