<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>知识库管理</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <section class="main-cantainer navfixr wt">
        <ul class="repository-mainList">
            <li th:each="type:${typeList}">
                <div class="item js-repositoryItem">
	                <input name="isType" type="hidden" th:value="${type.isType}">
	                <input name="id" type="hidden" th:value="${type.id}">
	                <span><img src="../../css/img/main_category.png" th:src="@{/css/img/main_category.png}" alt=""></span>
	                <span class="type" th:text="${type.type}">淄博职业学院</span>
	            </div>
                <div class="operate clearfix">
                    <span class="floatr"><a th:isType="${type.isType}" th:id="${type.id}" href="javascript:;" onclick="deleteType(this);"><img src="../../css/img/delete_unpressed_bl.png" th:src="@{/css/img/delete_unpressed_bl.png}" alt="删除"></a></span>
                    <span class="floatr"><a href="javascript:;" class="js-editItem"><img src="../../css/img/edit_unpressed_bl.png" th:src="@{/css/img/edit_unpressed_bl.png}" alt="修改"></a></span>
                </div>
            </li>
        </ul>
    </section>
    <a href="javascript:;" id="addItem" class="btm-btn pst-btm">添加主类</a>
    <!--添加类弹出-->
    <div class='modal-main' hidden="hidden" id="addItemModal">
        <div class="modal-bg"></div>
        <div class='modal-contant  modal-lg'>
            <div class="modal-body">
                <p class="modal-title">添加主类</p>
                <div class=modal-input>
                	<form id="addForm" action="">
	                	<input id="cType" name="type" type="text" maxlength="30" placeholder="主类名称">
	                	<input name="parentId" type="hidden" value="0">
                	</form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addBtn" type="button" class="yes">确定</button>
                <button type="button" class="no">取消</button>
            </div>
        </div>
    </div>
    <!--添加类弹出结束-->
    <!--修改类名弹出-->
    <div class='modal-main' hidden="hidden" id="editItemModal">
        <div class="modal-bg"></div>
        <div class='modal-contant  modal-lg'>
            <div class="modal-body">
                <p class="modal-title">修改主类</p>
                <div class=modal-input>
                	<form id="editForm" action="">
	                	<input id="eid" name="id" type="hidden">
	                	<input id="eType" name="type" type="text" maxlength="30" placeholder="主类名称">
                	</form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="editBtn" type="button" class="yes">确定</button>
                <button type="button" class="no">取消</button>
            </div>
        </div>
    </div>
    <!--修改类名弹出结束-->
    <div class="operate-modal" id="operate_modal" hidden="hidden">
        <div class="operate-content">
            <div class="operate-body">
                <div class="operate-btn">
	                <input id="cid" name="parentId" type="hidden">
                    <a id="addChType" href="admin-repository-chList.html" th:href="@{javascript:;}">
                        <i><img src="../../css/img/add_subclass.png" th:src="@{/css/img/add_subclass.png}" alt=""></i>
                        <span>添加子类</span>
                    </a>
                </div>
                <div class="operate-btn">
                    <a id="addData" href="admin-repository-dataList.html" th:href="@{javascript:;}">
                        <i><img src="../../css/img/binding_materials.png" th:src="@{/css/img/binding_materials.png}" alt=""></i>
                        <span>绑定资料</span>
                    </a>
                </div>
                <i class="close-btn" id="js_closeModal"><img src="../../css/img/hint_icon_cancel.png" th:src="@{/css/img/hint_icon_cancel.png}" alt=""></i>
            </div>
        </div>
    </div>
    <input id="typeLength" type="hidden" value="0">
   	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/validate.js" th:src="@{/js/validate.js}"></script>
   	<script src="../../js/knowledgebase/admin-respository.js" th:src="@{/js/knowledgebase/admin-respository.js}"></script>

</body>

</html>