<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>上传资料</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <section class="main-cantainer">
        <form id="form" action="" enctype="multipart/form-data">
        	<input id="parentId" name="typeId" th:value="${parentId}" type="hidden">
            <div class="form-group">
                <label for="" class="floatl">资料名称:</label>
                <input id="attachName" name="name" type="text" class='floatr form-input' placeholder="请输入">
            </div>
            <div class="form-group inlineFileUpload">
                <label for="userName" class="floatl">选择资料:</label>
                <input type="file" class='form-input floatr' id="data_upload">
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                <div id="thelist" class="uploader-list"></div> 
                <span  id="filePicker" class='floatr form-text'>请选择</span>
            </div>
            <!-- 上传进度条 -->
            <div class="progress" hidden="hidden">
                <div id="upload_percent1" class="progress-bar progress-bar-info progress-bar-striped active" style="width: 0%;">
                    <div id="upload_percent2" class="progress-value">0</div>
                </div>
            </div>
            <div class='btn-box'>
                <button id="ctlBtn" type="button" class="form-btn cancel-btn">开始上传</button>
            </div>
        </form>
    </section>
    <div th:replace="~{layout/contextPath :: contextPath}"></div>
    
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <script src="../../js/webuploader.js" th:src="@{/js/webuploader.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/userinfo_validate.js" th:src="@{/js/userinfo_validate.js}"></script>
	<script src="../../js/knowledgebase/repository-uploadData.js" th:src="@{/js/knowledgebase/repository-uploadData.js}" ></script>
    <script>
        
    </script>
</body>
</html>