<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>个人中心</title>
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer navfixr">
        <div class="mine-header">
           <a href="person-data.html" th:href="@{/userCenter/userHead}">
            <div class="mine-icon">
                <img  id="headimg" th:src="@{${session.user.headimgurl}}"  alt="">
            </div>
            </a>
            <p class="mine-nickname">[[${session.user.realName}]]</p>
        </div>
        <div class="mine-menu-list">
        	<a href="person-jionMeet.html" th:href="@{/userCenter/skipMymanageMeeting}">
                <div class="form-group">
                    <i class="floatl input-icon"><img th:src="@{/css/img/mine_management_meeting@2x.png}" src="../../css/img/mine_management_meeting@2x.png" alt=""></i>
                    <label class="floatl">我管理的会议</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                </div>
            </a>
            <a href="person-jionMeet.html" th:href="@{/userCenter/jionMeet}">
                <div class="form-group">
                    <i class="floatl input-icon"><img th:src="@{/css/img/mine_information.png}" src="../../css/img/mine_information.png" alt=""></i>
                    <label class="floatl">我参与的会议</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                </div>
            </a>
            
            <a href="person-focusMeet.html" th:href="@{/userCenter/user/followmeeting}">
                <div class="form-group">
                    <i class="floatl input-icon"><img src="../../css/img/mine_focus.png" th:src="@{/css/img/mine_focus.png}" alt=""></i>
                    <label class="floatl">我关注的会议</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                </div>
            </a>
            
            <a href="person-follow-hall.html" th:href="@{/userCenter/user/followhall}">
                <div class="form-group">
                    <i class="floatl input-icon"><img src="../../css/img/mine_conference_hall@3x.png" th:src="@{/css/img/mine_conference_hall@3x.png}" alt=""></i>
                    <label class="floatl">我关注的会议厅</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                </div>
            </a>
            <a href="person-follow-hall.html" th:href="@{/knowledgeCollection/list}">
                <div class="form-group">
                    <i class="floatl input-icon"><img src="../../css/img/mine_collection.png" th:src="@{/css/img/mine_collection.png}" alt=""></i>
                    <label class="floatl">我收藏的知识库</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                </div>
            </a>
            <a href="person-code.html" th:href="@{/userCenter/mycode}">
            <div class="form-group">
                <i class="floatl input-icon"><img src="../../css/img/mine_code@3x.png" th:src="@{/css/img/mine_code@3x.png}" alt=""></i>
                <label class="floatl">我的二维码</label>
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
            </div>
            </a>
            <a href="setting-password.html" th:href="@{/userCenter/setPassW}">
            <div class="form-group">
                <i class="floatl input-icon"><img src="../../css/img/mine_password.png" th:src="@{/css/img/mine_password.png}" alt=""></i>
                <label class="floatl">设置密码</label>
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
            </div>
            </a>
            <div class="form-group">
                <i class="floatl input-icon"><img src="../../css/img/mine_about.png" th:src="@{/css/img/mine_about.png}" alt=""></i>
                <label class="floatl">关于我是谁</label>
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
            </div>
       
            <div class="form-group">
                 <i class="floatl input-icon"><img src="../../css/img/mine_feedback.png" th:src="@{/css/img/mine_feedback.png}" alt=""></i>
                 <label class="floatl">意见反馈</label>
                 <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
            </div>
        </div>
    </section>
  	<!-- <nav class="index-nav">
        <ul>
            <li>
                <a href="../meet/meet-index.html">
                    <img src="../../css/img/home.png" alt="home">
                    <p>会议</p>
                </a>
            </li>
            <li>
                <a href="../meetroom/meet-room.html"><img src="../../css/img/meet.png" alt="home">
                    <p>会议厅</p>
                </a>
            </li>
            <li>
                <a href="../personcenter/person-center.html"></a>
                <img src="../../css/img/user.png" alt="home">
                <p>我的</p>
            </li>
        </ul>
    </nav> -->
    
       
    <nav class="index-nav" th:replace="layout/nav :: (${session.loginType eq 'app' }? appnav : nav)"></nav>
    
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
   
</body>
	<script type="text/javascript" th:inline="javascript">
	</script>		
</html>