<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>[[${session.click_meeting.meeName}]]</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <section class="main-cantainer navfixer"  id="vue_main">
        <!-- <header class="header">
            <div class="form-title"><a href="javascript:history.go(-1)"><span class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" alt=""></span></a>校长联席会议</div>
        </header> -->
          <section class="meet-list-main">
            <ul class="meet-list mtrm-infolist">
                <li class="meet-item clearfix">
        		  <a th:href="@{'/meetingInfo/'+${session.click_meeting.meeId}+'/'+${session.click_meeting.hallId}}">
                    <div class="clearfix">
                        <div class="left"><img src="../../css/img/pic1@2x.png" th:src="@{${session.click_meeting.meeCover}}"   alt="meetimg"></div>
                        <div class="right">
                            <p class="meet-name" id="meeName"  th:text="${session.click_meeting.meeName}">淄博职业学院</p>
                            <time class="floatl"  th:text="${#dates.format(session.click_meeting.meeStartTime,'yyyy-MM-dd')}">2016-02-08</time>
                            <span class="focus floatr">[[${countMeetingFollow}]]人关注</span>
                        </div>
                    </div>
                    <div class="clearfix"  th:if="${permissions}==permissions"><a href="javascript:;" class="funcBtn js-funcBtn floatr">查看详情<i class="funcOn"></i></a></div>
                    <div class="meet-item-funcBox" hidden>
                        <a href="meet-info.html"  th:if="${permissions}==permissions" th:href="@{'/meeting/selectmeetingInfo'}" >详情</a>
                        <a href="#" th:if="${permissions}==permissions" th:href="@{'/meeting/invite/'+${session.click_meeting.hallId}+'/'+${session.click_meeting.meeId}}">邀请</a>
                        <a href="meet-info.html" th:if="${permissions}==permissions" th:href="@{'/meeting/createMeetingAdmin/joiner'}">参会者</a>
                        <a href="#" th:if="${permissions}==permissions" th:href="@{'/meeting/meetingAdmin/manage'}">管理员</a>
                    </div>
                   </a>
                </li>

            </ul>
        </section>
         <section class="meet-list-main mtrm-chlistmain">
            <div class="mtrm-chlist-hd" @click="mtrmChlist=!mtrmChlist">
                <i class="floatl"><img src="../../css/img/icon_check_conference.png" th:src="@{/css/img/icon_check_conference.png}"alt=""></i>
                <p class="floatl">子会议</p>
                <i class="floatr" th:if="${permissions}==permissions">
                <a th:href="@{/meetingInfo/toManagerSubMeetList(meeParentId=${session.click_meeting.meeId},hallId=${session.click_meeting.hallId})}" >
                <img src="../../css/img/icon_add_conference.png" th:src="@{/css/img/icon_add_conference.png}" alt="">
                </a>
                </i>
            </div>
            <ul class="meet-list mtrm-infolist" v-show="mtrmChlist">

                <li class="meet-item clearfix" th:each="subMee:${subMeetingList}">
                   <div class="clearfix">
                        <div class="left"><img src="../../css/img/pic1@2x.png" th:src="@{/css/img/pic1@2x.png}" alt="meetimg"></div>
                        <div class="right">
                            <p class="meet-name" th:text="${subMee.meeName}" >淄博职业学院</p>
                            <time class="floatl"  th:text="${#dates.format(subMee.meeStartTime,'yyyy-MM-dd')}">2016-02-08</time>
                            <span class="focus floatr"  th:if="${permissions}==permissions" >
                           		<a href="meet-setting.html"  th:href="@{/meeting/selectsubmeetingInfo(meeId=${subMee.meeId})}" class="focus floatr" >查看详情</a>
                           	</span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
         <a  class='btm-btn fix-btm' th:href="@{/userCenter/skipMymanageMeeting}">返回</a>
     <div th:replace="~{layout/contextPath :: contextPath}"></div>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <script src="../../js/plug/plug-form.js" th:src="@{/js/plug/plug-form.js}"></script>
    <script src="../../js/lib/vue-1.0.28.js" th:src="@{/js/lib/vue-1.0.28.js}"></script>
    <script src="../../js/plug/httpPath.js"  th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/mtrm-meetinfo.js"  th:src="@{/js/mtrm-meetinfo.js}"></script>
    <script>
        $(".js-funcBtn").on("click", function () {
            var _this = $(this);
            var $funBox = $(".meet-item-funcBox");
            if ($funBox.is(":hidden")) {
                _this.find("i").removeClass("funcOn").addClass("funcOff");

                $funBox.show();
            } else {
                _this.find("i").removeClass("funcOff").addClass("funcOn");
                $funBox.hide();
            }
        })
    </script>
</body>

</html>