<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>身份列表</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css">
</head>

<body>
    <section class="main-cantainer">
        <div class='form-main' id='sign-main'>
            <form action="sign-up-success.html" id="sign_up_main">
                <div class='basic-info'>
                    <div class="form-group" th:each="i : ${identityList.list}" th:data-field-id="${i.id}">
                        <label class="floatl">[[${i.identity}]]</label>
                        <span class="floatr deletImg"><img class="_delete_identity" th:src="@{/css/img/edit_icon_delete.png}" src="../../css/img/edit_icon_delete.png" alt=""/></span>
                    </div>
                    <hr class="form-hr">
                    <hr class="form-hr">
                    <hr class="form-hr">
                   
                </div>
            </form>
        </div>
        </div>
    </section>
     <button type='button' id='_btn' class='btm-btn pst-btm'>添加身份</button>
     <div class='modal-main' hidden id="mtrmShenfen">
        <div class="modal-bg"></div>
        <div class='modal-contant  modal-lg'>
            <div class="modal-body">
                <p class="modal-title">身份名称</p>
                <div class=modal-input><input id="new_identity" type="text" maxlength="30" placeholder="请输入身份名称"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="_yes" class="yes">确定</button>
                <button type="button" id="_no" class="no">取消</button>
            </div>
        </div>
    </div>
     
    <div th:replace="~{layout/contextPath :: contextPath}"></div>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/user_signup/admin-identity-list.js" th:src="@{/js/user_signup/admin-identity-list.js}"></script>
</body>

</html>