<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>创建子会议</title>
    <link href="../../css/lib/mobiscroll.css" th:href="@{/css/lib/mobiscroll.css}" rel="stylesheet" />
    <link href="../../css/lib/mobiscroll_date.css" th:href="@{/css/lib/mobiscroll_date.css}" rel="stylesheet" />
     <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer" id="creat-meet">
        <div class='form-main'>
          <form id="creatchmeet_form">
            <div class="js-basic-info" v-show="formBox.basic">
            <div class="form-title"><a href="javascript:history.go(-1)"><span class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" th:src="@{/css/img/title_arrow_back.png}" alt=""></span></a>创建子会议</div>
                    <!--主会议ID-->
                    <input type="hidden" name="meeParentId" id="meeParentId" th:value="${meetingInfo.meeId}">
                    <!--会议厅ID-->
                    <input type="hidden" name="hallId" id="hallId"  th:value="${meetingInfo.hallId}">
                    <!-- 主会议的开始时间和结束时间用户判断分会议的时间 -->
                    <input type="hidden" id="meetingparentStartTime" th:value="${meetingInfo.meeStartTime}">
                    <input type="hidden" id="meetingparentEndTime" th:value="${meetingInfo.meeEndTime}">  
                <div class="form-group">
                    <label for="meeName" class="floatl">会议名称:</label>
                    <input type="text" class='form-input floatr' name="meeName" id="meeName" placeholder="请输入">
                </div>
                <div class="form-group js-meetTime" v-cloak @click="selectTime">
                    <label class="floatl">会议时间:</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                    <span class='floatr form-text' id="meetingTime">{{itemText.timeTxt}}</span>
                </div>
                <div class="form-group">
                    <label for="meeAddress" class="floatl">会议地点:</label>
                    <input type="text" class='form-input floatr' name="meeAddress" id="meeAddress" placeholder="请输入">
                </div>
                <div class="form-group js-meetTime" v-cloak @click="selectRemark">
                    <label class="floatl">会议简介:</label>
                    <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" th:src="@{/css/img/list_arrow.png}" alt=""></span>
                    <span class='floatr form-text'>{{itemText.remarkTxt}}</span>
                </div>
                <div class='btn-box'>
                    <button type="button" v-cloak onclick="saveChildMeet();" class="form-btn cancel-btn">完成</button>
                </div>
            </div>
            <div class="js-meetTime-info" v-cloak v-show="formBox.time">
                <div class="form-title"><span @click="saveTime" class="backBasic-btn"><img src="../../css/img/title_arrow_back.png" th:src="@{/css/img/title_arrow_back.png}" alt=""></span>会议时间</div> 
                <div class="form-group">
                    <label for="meeStartTime" class="floatl">开始时间:</label>
                    <input type="data"  onchange="setTime(this)" class='form-input floatr begin-time'  placeholder="请选择">
                    <input type="hidden" name="meeStartTime" id="meeStartTime">
                </div>
                <div class="form-group">
                    <label for="meeEndTime" class="floatl">结束时间:</label>
                    <input type="data" onchange="setTime(this)" class='form-input floatr begin-time'   placeholder="请选择">
                    <input type="hidden" name="meeEndTime" id="meeEndTime">
                </div>
                <div class='btn-box'>
                    <button type="button" class="form-btn cancel-btn" @click='saveTime'>保存</button>
                </div>
            </div>
            <div class="js-remark-info" v-cloak v-show="formBox.remark">
                <div class="form-title"><span @click="saveRemark" class="backBasic-btn"><img src="/css/img/title_arrow_back.png"th:src="@{/css/img/title_arrow_back.png}"  alt=""></span>备注</div>
                <div class="form-textarea">
                    <textarea id='remarks_box' name="meeIntro" placeholder="你想说点什么" value="" maxlength="200" @input="remarkNum"></textarea>
                    <div class="textarea_counter"><span id="text-num">0</span>/200</div>
                </div>
                <div class='btn-box'>
                    <button type="button" class="form-btn cancel-btn" @click='saveRemark'>保存</button>
                </div>
            </div>            	      
           </form>
        </div>
        
    </section>
    <div th:replace="~{layout/contextPath :: contextPath}"></div>	
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>	
    <script src="../../js/lib/vue-1.0.28.js" th:src="@{/js/lib/vue-1.0.28.js}"></script>
    <script src="../../js/lib/mobiscroll_date.js" th:src="@{/js/lib/mobiscroll_date.js}" charset="gb2312"></script>
    <script src="../../js/lib/mobiscroll.js" th:src="@{/js/lib/mobiscroll.js}"></script>
    <script src="../../js/plug/plug-form.js" th:src="@{/js/plug/plug-form.js}"></script>
    <script src="../../js/userinfo_validate.js" th:src="@{/js/userinfo_validate.js}"></script>
    <script src="../../js/creatMeet.js" th:src="@{/js/creatMeet.js}"></script>
    <script src="../../js/creatMeetFun.js" th:src="@{/js/creatMeetFun.js}"></script>
</body>

</html>