<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>会议厅</title>
	<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<div id='app' hidden="hidden">true</div>
	<section class="main-cantainer">
		<header class="index-header">
			<div class="page-title meetRoom-title">
				<span class='floatl'>创建会议厅</span> 
			    <!-- <a href="" th:href="@{/page/meeting/creat-meetRoom-type.html}"><span class='floatr add-icon' >+</span></a> -->
			</div>
		</header>
		<div class="no-meetRoom">
			<i><img src="../../css/img/no-meetRoom.png" th:src="@{/css/img/no-meetRoom.png}" alt=""></i>
			<p>您还没有创建会议厅</p>
			<a class="creatBtn" href="creat-meetRoom-type.html" th:href="@{/page/meeting/creat-meetRoom-type.html}">创建会议厅</a>
		</div>
	</section>
	<div th:replace="~{layout/contextPath :: contextPath}"></div>	
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
	<script src="../../js/lib/swiper.min.js" th:src="@{/js/lib/swiper.min.js}"></script>
	<script src="../../js/plug/plug-form.js" th:src="@{/js/plug/plug-form.js}"></script>
	<script src="../../js/meetIndex.js" th:src="@{/js/meetIndex.jss}"></script>
</body>

</html>