<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>创建会议厅</title>
     <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer" id="creat-meetroom">
        <div class='form-main' >
          <form method="post" th:action="@{/meetingHall/addMeetingHall}" id="create_hall_form_step1"  onsubmit="return validate_form()">
           <div class="js-remark-basic" v-cloak v-show="formBox.basic">
                <div class="form-group">
                    <label for="" class="floatl">会议厅名称:</label>
                    <input type="text" class='form-input floatr' name="hallName" id="hallName" placeholder="请输入">
                </div>
                <div class="form-group js-meetTime" v-cloak @click="selectRemark">
                    <label class="floatl">会议简介:</label>
                    <span class="floatr arrowImg"><img th:src="@{/css/img/list_arrow.png}" alt=""></span>
                    <span class='floatr form-text'>{{itemText.remarkTxt}}</span>
                </div>
                <div class='btn-box'>
<!--                     <button type="button" id="step_one" class="form-btn cancel-btn">下一步</button> -->
                    <button type="submit" class="form-btn cancel-btn">下一步</button>
                </div>
            </div>
           
            <div class="js-remark-info" v-cloak v-show="formBox.remark">
                <div class="form-title"><span @click="saveRemark" class="backBasic-btn"><img th:src="@{/css/img/title_arrow_back.png}" alt=""></span>备注</div>
                <div class="form-textarea">
                    <textarea id='remarks_box' name="hallIntro" placeholder="你想说点什么" value="" maxlength="200" @input="remarkNum"></textarea>
                    <div class="textarea_counter"><span id="text-num">0</span>/200</div>
                </div>
                <div class='btn-box'>
                    <button type="button" class="form-btn cancel-btn" @click='saveRemark'>保存</button>
                    <input type="hidden" class='form-input floatr' th:value="${session.user.userId}" name="userId" id="userId"/>
		            <input type="hidden" class='form-input floatr' th:value="${hallType}" name="hallType" id="hallType"/>
                </div>
            </div>
            </form>
        </div>
    </section>
     <div th:replace="~{layout/contextPath :: contextPath}"></div>	
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/plug/plug-form.js" th:src="@{/js/plug/plug-form.js}"></script>
    <script src="../../js/lib/vue-1.0.28.js" th:src="@{/js/lib/vue-1.0.28.js}"></script>
    <script src="../../js/creatMeetroom.js" th:src="@{/js/creatMeetroom.js}"></script>
    <script src="../../js/userinfo_validate.js" th:src="@{/js/userinfo_validate.js}"></script>
    <script type="text/javascript">
    function validate_form(){
        if(!validate_empty("hallName","会议厅名称")){return false;}
   		if(!validate_namelenth("hallName","会议厅名称",30)){return false;}	
   		var hallName = $("#hallName").val();
   		var flag;
   		$.ajax({
			url:contentpath+'/meetingHall/existMeetHallName',
    		type:'post',
    		async:false,
    		data: "hallName="+hallName,
    		success:function(data){
    			if (data) {
    				$.toastr("会议厅名重复!");
					return flag=false;
				}else{
					return flag=true;
				}
    		}
		});
   		return flag;   
    }
    </script>
</body>
</html>