<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>提示</title>
     <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <section class="main-cantainer">
        <div class="no-meetRoom">
            <i><img src="../../css/img/no-meetRoom.png" alt="" th:src="@{/css/img/no-meetRoom.png}"></i>
            <p>您还没有报名</p>
            <a class="creatBtn" href="sign-up.html.html" th:href="@{/signup/tosignuppage}">点击报名</a>
        </div>
    </section>
    <script src="../../js/lib/jquery.js" thr:src="@{/js/lib/jquery.js}"></script>
</body>

</html>