<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>会议服务</title>
    <link rel="stylesheet" type="" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <section class="main-cantainer bl-bg">
        <div class="sl-btn-list">
            <a class="wt-btn" th:href="@{/meetingService/hotellist}" href="hotel-server-list.html" th:if="${hashotel==true}"><span><img th:src="@{/css/img/check.png}" src="../../css/img/check.png" alt=""></span>酒店信息</a>
            <a class="wt-btn" th:href="@{/meetingService/meetlist}" href="meet-server-list.html"><span><img th:src="@{/css/img/check.png}" src="../../css/img/check.png" alt=""></span>会场信息</a>
        </div>
    </section>
    <div th:replace="~{layout/contextPath :: contextPath}"></div>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
    <script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
</body>

</html>