<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>选择角色</title>
<link rel="stylesheet" href="../../css/lib/icheck/skins/all.css"
	th:href="@{/css/lib/icheck/skins/all.css}">
<link rel="stylesheet" href="../../css/style.css"
	th:href="@{/css/style.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer">
        <div class="form-group">
            <label class="floatl">主持人</label>
            <span class="floatr"><input type="radio" name="role" value=""></span>
        </div>
        <div class="form-group">
            <label class="floatl">主办方</label>
            <span class="floatr"><input type="radio" name="role" value=""></span>
        </div>
        <button type='button' class='btm-btn pst-btm'>确定</button>
    </section>
    <script src="../../js/lib/jquery.js"></script>
    <script src="../../js/lib/icheck.min.js"></script>
    <script>
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass:'iradio_flat-red'
        });
    </script>
</body>

	<script id="news_jsrender" type="text/x-jsrender">

		  <div class="form-group">
            <label class="floatl">{{:roleName}}<span class="floatr"><input type="radio" name="role" value=""></span></label>
       	  </div>
			<button type='button' class='btm-btn pst-btm'>确定</button>
		
     </script>
<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../js/lib/icheck.min.js" th:src=@{/js/lib/icheck.min.js}></script>
<script src="../../js/jsrender.js" th:src="@{/js/jsrender.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var managerlist = [[${managerlist}]];
	var teml = $.templates("#news_jsrender");
	var html = teml.render(managerlist);
	document.getElementById("managerole").innerHTML = html;
</script>

</html>