<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>参会人员</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css">
</head>

<body>
    <section class="main-cantainer">
        <div class="page1">
            <div class="info-item">
                <div class="info-body">
                    <p class="t1" th:text="${hotelUserLink.userName}">瞿二狗<span class="mgl2" th:text="${hotelUserLink.unitName}">上海万达科技有限公司</span></p>
                    <p class="t2">
                        <span class="icon floatl"><img src="../../css/img/gender-red.png" alt="性别" th:src="@{/css/img/gender-red.png}"></span>
                        <span class="text floatl" th:text="${hotelUserLink.sex}">男</span>
                        <span class="icon floatl"><img src="../../css/img/cellphone.png" alt="电话" th:src="@{/css/img/cellphone.png}"></span>
                        <span class="text floatl" th:text="${hotelUserLink.phone}">13854124587</span>
                    </p>
                </div>
            </div>
            <div class="form-group js-cutHotel" data-hotel-Id="">
                <label class="floatl">选择酒店:</label>
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt="" th:src="@{/css/img/list_arrow.png}"></span>
                <span class='floatr form-text' th:text="${hotelUserLink.hotelName}">请选择</span>
            </div>
            <form action="" th:action="@{/meetingUserRoom/updataUserRoom}" method="post">
            <!-- huid -->
            <input type="hidden" name="hUId" value="" th:value="${hotelUserLink.hUId}"/>
            <!--酒店id  -->
            <input type="hidden" name="hotelId" value="" id="h" th:value="${hotelUserLink.hotelId}"/>
            <!-- 用户id -->
            <input type="hidden" name="userId" value="" th:value="${hotelUserLink.userId}"/>
            <!-- 会议id -->
            <input type="hidden" name="meetingId" value="" th:value="${hotelUserLink.meetingId}"/>
            <!-- 会议厅id -->
            <input type="hidden" name="meetingHallId" value="" th:value="${hotelUserLink.meetingHallId}"/>
            <div class="form-group">
                <label for="" class="floatl">房间类型:</label>
                <span class="floatr arrowImg"><img src="../../css/img/list_arrow.png" alt="" th:src="@{/css/img/list_arrow.png}"></span>
                <select class='form-input floatr' name="roomId" id="roomtype">
                <option th:text="${hotelUserLink.roomType}">单人间</option>
               <!--  <option value="2">双人间</option> -->
            </select>
            </div>
            <div class='btn-box'>
                <button type="submit" class="form-btn cancel-btn">保存</button>
            </div>
            </form>
        </div>
        <div class="page2" hidden="hidden">
            <div class="search-bar clearfix">
                <div class="search-body">
                    <div class="searchBox">
                        <i class="search"><img src="../../css/img/search_icon.png" alt="" th:src="@{/css/img/search_icon.png}"></i>
                        <input class="search-input" type="text" name="" value="" placeholder="姓名/性别/手机">
                        <i class="delete" id="search-delete"><img src="../../css/img/connection_search_delete.png" alt="" th:src="@{/css/img/connection_search_delete.png}"></i>
                    </div>
                    <button class="search-btn success-btn" type="button">搜索</button>
                </div>
            </div>
            <ul class="hotel-list" th:each="hotellist:${hotels}">
                <li class="info-item js-selectHotel" data-hote-Id="${hotellist.hotelId}" th:value="${hotellist.hotelId}">
                    <p class="name" th:text="${hotellist.hotelName}"></p>
                    <p class="info">剩余房间总数：<span th:text="${hotellist.roomSum}"></span></p>
                </li>
            </ul>
        </div>
    </section>
	<div th:replace="~{layout/contextPath :: contextPath}"></div>	
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/admin-hotel.js" th:src="@{/js/admin-hotel.js}"></script>
</body>
</html>