<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>群聊</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<input type="hidden" id="meeId" th:value="${meeId}"/>
    <section class="main-cantainer  navfixr">
		<div class="group-user-btn"><a href="javascript:;" class="js-groupUserInfo">查看群成员信息</a></div>
        <div class="chartBox js-chartBox">
            <!-- <div class="msgItem otherMsg clearfix">
                <div class="userIcon floatl"><img src="../../css/img/usericon.jpg" alt=""></div>
                <p class="user-msg floatl">3月30日的会议参加么</p>
                <span class="user-info text-l floatl">乔尔 <br><span class="time">16:28</span></span>
            </div>
            <div class="msgItem mineMsg clearfix">
                <div class="userIcon floatr"><img src="../../css/img/usericon.jpg" alt=""></div>
                <p class="user-msg floatr">3月30日的会议参加么</p>
                <span class="user-info text-r floatr">艾莉<br><span class="time">16:28</span> </span>
            </div> -->
        </div>
    </section>
    <div class="msgInput">
        <textarea id="msgbox" class="floatl" placeholder="请输入消息"></textarea>
        <button id="sendMsg" type="button" class="success-btn floatr">发送</button>
    </div>
        <div class='modal-main' id="groupUser" hidden>
        <div class="modal-bg"></div>

        <div class="modal-contant modal-lg">
            <div class="modal-header">成员信息</div>
            <div class="modal-body group-user-box">
                <ul class="group-user-list">
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                    <li><i class="userIcon"><img src="../../css/img/usericon.jpg" alt=""></i><span>王二狗</span><button class="success-btn">添加</button></li>
                </ul>
            </div>

        </div>
    </div>
	<div th:replace="~{layout/contextPath :: contextPath}"></div>
    <script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <!--环信配置文件-->
    <script src="../../js/lib/webim.config.js" th:src="@{/js/lib/webim.config.js}"></script>
    <script src="../../js/lib/strophe-1.2.8.min.js" th:src="@{/js/lib/strophe-1.2.8.min.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
    <script src="../../js/lib/websdk-1.4.10.js" th:src="@{/js/lib/websdk-1.4.10.js}"></script>
    <script src="../../js/web-chat/group-chat.js" th:src="@{/js/web-chat/group-chat.js}"></script>
</body>

</html>