<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>会议资料12</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
 
</head>

<body>
    <section class="main-cantainer">
              <div class="article-main">
            <article>
                <header>
                    <h1 class="article-title" th:text="${material.attachName}">全国高职高专校长联席会议</h1>
                    <p class="article-info">
                    <time th:text="${#dates.format(material.createTime, 'yyyy-MM-dd')}">2016-06-03</time>
                </header>
                <div class="article-imgbox" th:utext="${material.attachUrl}">
                </div>
                <div class="article-text">
                    <h2 th:text="${material.attachName}">职业院校教学工作诊断改进制度建设研daaddsads讨</h2>
                    <h3>作者：[[${createUserName}]]</h3>
                    <p th:text="${material.remarks}">
                        联席会议是指由某个团体或组织自愿发起、自由参与的会议。旨在通过召开联席会议的形式，加强联系与沟通，相互学习借鉴经验，研究探索新经验、新方法。例如“全国城管（执法）局长联席会”，不隶属任何部门，不是社会团体，也不是组织机构，而是城管（执法）局长自愿发起、自由参与的会议交流机制
                    </p>
                </div>
            </article>
        </div>
      
    </section>
    <div th:replace="~{layout/contextPath :: contextPath}"></div>	
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
    <script>
        window.onload = window.onresize = function () {
            resizeIframe();
        };
        var resizeIframe = function () {
            var bodyw = document.body.clientWidth;
            $("iframe").css("height", bodyw * 9 / 16); //设定高度
        }
    </script>
</body>

</html>