<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>会议资料</title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../css/lib/swiper.min.css" th:href="@{/css/lib/swiper.min.css}">
</head>

<body>
	<div id='app' hidden="hidden">false</div>
    <section class="main-cantainer">
        <div class="article-list-main">
            <ul class="article-list-body" th:each="material:${materials.list}">
                <li class="article-item">
                    <a href="article-details.html">
                        <span class="data-icon"> <img src="../../css/img/data.png" th:src="@{/css/img/data.png}" alt=""></span>
                       <div class="title-box">
                        <p class="article-list-title" th:text="${material.attachName}">全国高职高专校长联席会议特别声明 全国高职高专校长联席会议特别声明
                        </p>
                        <time th:text="${#dates.format(material.createTime, 'yyyy-MM-dd')}">2016-06-03</time>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
	<script src="../../js/lib/jquery.js" th:src="@{/js/lib/jquery.js}"></script>
	<script src="../../js/common.js" th:src="@{/js/common.js}"></script>
	<script src="../../js/lib/swiper.min.js" th:src="@{/js/lib/swiper.min.js}"></script>
	<script src="../../js/plug/plug-form.js" th:src="@{/js/plug/plug-form.js}"></script>
	<script src="../../js/plug/httpPath.js" th:src="@{/js/plug/httpPath.js}"></script>
	<script src="../../js/jsrender.js" th:src="@{/js/jsrender.js}"></script>
	<script src="../../js/dateFormate.js" th:src="@{/js/dateFormate.js}"></script>
    <script src="../../js/weui.min.js" th:src="@{/js/weui.min.js}"></script>
    <script src="../../js/meet-data.js" th:src="@{/js/meet-data.js}"></script>
</body>

</html>